.form-check-input{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}


/* Show the checkmark when the input is checked */
.form-check-input:checked ~ .checkmark {
  background-color: #007bff;
}
