.recommended-flex {
  display: flex;
  flex-wrap: 'wrap';
}

.recommended-title {
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.recomended-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.select-menu {
  display: flex;
  align-items: end;

}

.m {
  margin-top: auto;
}

@media screen and (max-width: 600px) {
  .m {
    margin-top: 10px;
  }
}

.recomended-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
}